.form {
  display: flex;
  justify-content: center;
  background: linear-gradient(325deg, #00b3ff 66%, rgba(4, 24, 39, 0.5) 66%);
  padding: 170px 50px 250px 50px;
}

.form__wrapper-image {
  margin-right: 120px;
}
